:root {
    --primary-font: 'Work Sans', sans-serif;
    --primary-color: #FF900E;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* nav, header {
    height: 100%;
    width: 100%;
    background-color: #676664;
    opacity: .2;
} */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    font-family: var(--primary-font);
}

.left-nav {
    font-size: 35px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 20px;
}

ul>li {
    list-style: none;
}

header {
    text-align: center;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    font-family: var(--primary-font);
    
}

.header-text {
    font-weight: 700;
    font-size: 64px;
    padding-bottom: 20px;
}
.header-description{
    line-height: 1.5;
}
button{
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-size: 20px;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
}
main{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin: 10px auto;
    font-family: var(--primary-font);
    gap: 70px;
    padding: 0 50px;

}
.main-text{
    padding: 20px 0;
}
.black{
color: #727272;
   
}
.orange{
    color: var(--primary-color);
}
.effect{
    font-size: 40px;
}
/* .main-right{
    text-align: left;
} */
.images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-gap: 10px; */  
}
.image{
    padding: 10px;
}
.button-below {
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    transform: translate(-20px);
   
}